<!doctype html>
<html lang='en'>
        <head>
                <title>Squirrel Tracker</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </head>
        <body>
<style>
      body{
	padding-top: 30px;
        padding-left: 10px; padding-right: 10px;
      }
</style>
                <p>
		<div align='center'>
			<img src="../../image/Welcome.jpg" style="width:800px" class="rounded" alt="..." >
		</div>
		<br>
		<br>
		<h1 style=font-size:70px class='text-center'><strong>Squirrel Tracker</strong></h1>
		<div align='center'>
			<br>
			<a href="/sightings/" class="btn btn-outline-success btn-lg active" role="button" aria-pressed="true"><strong>Squirrel Sightings</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/add" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Report Sighting</strong></a> &nbsp;&nbsp;&nbsp;
            <a href="/map/" class="btn btn-outline-danger btn-lg active" role="button" aria-pressed="true"><strong>Sightings Map</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/stats" class="btn btn-outline-info btn-lg active" role="button" aria-pressed="true"><strong>Sightings Stats</strong></a>&nbsp;
		</div>
		</p>
		<br>
	</body>
</html>

