<!doctype html>
<html>
        <head>
                <title>Squirrel Tracker: Update the Squirrel Sighting</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </head>
        <body>
<style>body{padding-left:10px; padding-right:10px;}</style>
                <p>
                <br>
                <h2>
                <strong>
                Update
                </strong>
                </h2>
                <hr>
                <br>
                <form method='post'>
                        {% csrf_token %}
                        {{form.as_p}}
                        <br>
                        <hr>
                        <input type="submit" name="save">  &nbsp;&nbsp; <img src="../../image/update_logo.png" style="width:30px" class="rounded" alt="..." >
                        <br>
                </form>
                <br>
        </body>
</html>

