<!doctype html>
<html>
        <head>
                <title>Squirrel Tracker: Update the Squirrel Sighting</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </head>
        <body>
<style>body{padding-left:10px; padding-right:10px;}</style>
                <p>
                <br>
		<strong><h2><img src="https://image.flaticon.com/icons/svg/604/604239.svg" style="width:60px" class="rounded" alt="..." >   Update the Squirrel Sighting    <img src="https://image.flaticon.com/icons/svg/1230/1230876.svg" style="width:60px" class="rounded" alt="..." ></strong>
                </h2>
                <p>Please use the following form to update the squirrel sighting</p>
                <hr>
                <br>
                <form method='post'>
                        {% csrf_token %}
                        {{form.as_p}}
                        <br>
                        <p>Thanks for info! <img src="https://image.flaticon.com/icons/svg/1140/1140163.svg" style="width:30px" class="rounded" alt="..." ></p>
                        <input type="submit" name="save">
                        <br>
                </form>
                <br>
        </body>
</html>

